.myBtn {
	cursor: pointer;
	padding: 10px 15px;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: all 0.3s ease 0s;
}

.red {
	background-color: #E63838;
	color: #fff;
	&:disabled {
		background-color: #BF1414;
	}
	@media (any-hover: hover) {
		&:hover{
			background-color: #BF1414;
		}
	}
}

.white {
	background-color: #fff;
	color: #000;
	&:disabled {
		text-decoration: underline;
	}
	@media (any-hover: hover) {
		&:hover{
			text-decoration: underline;
		}
	}
}