.myBtn {
	background-color: #E63838;
	color: #fff;
	cursor: pointer;
	padding: 10px 15px;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: all 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover{
			background-color: #BF1414;
		}
	}
}