@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:wght@300;400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto;
}

*::-webkit-scrollbar {
	width: 5px;
	border-radius: 15px;
	background-color: #f9f9fd;
}
*::-webkit-scrollbar-thumb {
	border-radius: 15px;
	background-color: #E63838;
}
*::-webkit-scrollbar-track {
	border-radius: 15px;
	background-color: rgba(0,0,0,0.1);
}